---
layout: default
---

<% scenario = site.data.scenarios[data.scenario.to_s] %>

<h1><%= data.title %></h1>
<% if scenario %>
  <h4>Scenario <%= data.scenario %>: <%= scenario.name %></h4>
<% end %>

<div class="chapter-content">
  <%= yield %>
</div>
