:root,
::backdrop {
  /* Default (light) theme */
  --bg: #faf8f0;
  --accent-bg: #f1ead4;
  --text: #74462c;
  --text-light: #8d5630;
  --border: #a97236;
  --accent: #c08e40;
  --accent-text: #f1ead4;
  --code: #caa755;
  --preformatted: #603b27;
  --marked: #dece95;
  --disabled: #d4bc75;
}
